/* services.css */
.services {
  background-color: #e8f1ff;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
  min-height: 100vh;
}

.services .header {
  font-size: 30px;
  font-weight: 700;
}

.cart {
  background-color: #ffffff;
  height: 370px;
}

.cart .title {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px;
}

.cart .desc {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
  font-family: inter;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px;
}

.img-services {
  padding: 10px;
  width: 70px;
  height: 70px;
  background-color: #e8f1ff;
  border-radius: 50%;
}

.cart img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .services {
    margin-top: 30px;
    padding-top: 20px;
  }

  .img-services {
    width: 60px;
    height: 60px;
  }

  .cart{
    margin-top: 10px;
    height:30vh;
  }

  .img-services{
    margin-top: 50px;
  }

  .header{
    margin-top: 50px;
  }

}
