.custom-navbar {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-navbar.with-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link-spacing {
  margin-right: 10px;
}

.nav-link-spacing p:hover {
  color: #24c6dc;
}

.logo {
  width: 150px;
  height: 40px;
}
