.custom-navbar {
  /* Add your other styles here */

  /* Set initial shadow styles */
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-navbar.with-shadow {
  /* Add shadow styles when the menu is open */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.nav-link-spacing {
  margin-right: 10px;
}

